#testimonials{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(/bar-826688_1920.jpg);

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
}